@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

.ryu, .ken {
    height: 30vw;
    width: 15vw;
}

.ryu {
    margin-right: 0vw;
    margin-left: 10vw;
}

.ken {
    margin-left: 5vw;
}

.ryuken {
    text-align: center;
}

.RPS-keys {
    display: grid;
    text-align: center;
    margin-top: 1vw;
    grid-template-columns: auto auto auto;
    margin-left: 17vw;
    margin-right: auto;
    max-width: 60%;
}


.RPS {
    max-width: 8vw;
    height: auto;
    padding-left: 3px;
    outline:none;
}

#screengif {
    max-width: 100%;
    max-height: 150px;
}

.choices {
    text-align: center;
    background: linear-gradient(to top, #363636 0%, #3e424b 100%);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    max-height: 900px;
    width: 25vw;
    margin-left: 20vw;
    padding: 3vw 2vw 3vw 2vw;
    font-size: 1em;
}



.sf-font {
    text-transform: uppercase;
	background: linear-gradient(to top, #f8f407 0%, #fd0404 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	size: 15vw;
    font-family: "Trade Winds";
    font-style: italic;
}
